body {
  background-color: #4c4266;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
}

.form {
}

.form__item {
  display: block;
  width: 100%;
}
.form fieldset {
  margin: 16px;
}
